.cardss {
  padding: 2rem;
  background: #fff;
}

h1 {
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.cardss__container {
  display: flex;
  flex-flow: column;
  align-items: left;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}


.cardss__wrapper {
  position: relative;
  margin: 20px 0 20px;
}

.cardss__items {
  margin-bottom: 10px;
  margin-left: -20px;
}

.cardss__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  
}


.cardss__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  
}

.cardss__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 117%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cardss__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cardss__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cardss__item__img:hover {
  transform: scale(1.1);
}

.cardss__item__info {
  padding: 20px 30px 30px;
}

.cardss__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cardss__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cardss__item {
    margin-bottom: 2rem;
  }
}

.cardss2 {
  padding: 2rem;
  background: rgb(97, 39, 39);
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.cardss2__container {
  display: flex;
  flex-flow: column;
  align-items: left;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cardss2__wrapper {
  position: relative;
  margin: 20px 0 20px;
}

.cardss2__items {
  margin-bottom: 10px;
  margin-left: -140px;
  width: 1200px;

}

.cardss2__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  
}


.cardss2__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
}

.cardss2__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 117%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cardss2__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 24px;
  font-weight: 700;
  color: rgb(102, 43, 43);
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cardss2__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cardss2__item__img:hover {
  transform: scale(1.1);
}

.cardss2__item__info {
  padding: 20px 30px 30px;
}

.cardss2__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cardss2__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cardss2__item {
    margin-bottom: 2rem;
  }
}



